/* General Document styling */
:root{
    --card-color: #254441;
    --button-color: #bb9cd6;
    --button-color-hover: #ede5f3;
}
html{
    font-size: 62.5%;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: #E5F4E3;
    width:95%;
    margin: 0 auto;
}
h1{
    font-size: 40px;
    line-height: 40px;
}
h4{
    font-size: 20px;
    line-height: 25px;
}
h6{
    font-size: 20px;
    line-height: 40px;
    text-align: center;
}
p{
    font-size: 20px;
    line-height: 30px;
}
.product_p{
    font-size: 15px;
    line-height: 12px;   
}
li{
    font-size: 20px;
}
a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    cursor: pointer;
}
img{
    border-radius: .5em;
}
.image_logo{
    border-radius: 50%;
}
/* header styling */
header{
    padding: 3em;
}
.nav-list{
    display: flex;
    align-items: center;
    justify-content: space-around;
 }
 li{
    list-style: none;
 }
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    z-index: 999;
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    background-color:#fafafa00;
    backdrop-filter: blur(5px);
    padding: 3em;
}
.sidebar li{
    width: 100%;
    margin-top: 1em;
}
.hide_on_mobile{
    display: none;
}
.div_logo{
    width: 50px;
}

/* main styling */
main{
    margin-top: 20px;
    max-width: 100%;
}
/* landing page */
/* hero section */
.intro_div{
    display: flex;
    align-items: center;
    flex-direction:column;
    gap: 2em;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    min-height: 60vh;
}
.intro_div_child{
    flex: 1;
    /* position: relative; */
    /* align-self: flex-start; */
    min-height: 60vh;
    padding: .6rem;
    width: 100%;
}
.intro_div_child_center{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* position: relative;
    bottom: 90px;
    right: 70px; */
}
.intro_div_child_images{
    display: flex;
    align-items: center;
    gap: 1em;
    flex-wrap: wrap;
}
.chicken_img_container{
    flex: 1;
    width: 100%;
    max-width: 25em;
    display:none;
}
.tryout{
    /* align-self: flex-start; */
    /* min-height: 60vh; */
    flex: 1;
}
.products_image{
    position: relative;
    width: 60%;
    max-width: 25em;
    /* bottom: 0; */
    left: 15em;
    /* top: 18em; */
    top: 8em;
}
.products_image img, .actual_images img,
.image_logo, .banner_div img, .single_product_img_div img{

    max-inline-size: 100%;
    object-fit:cover;
    height: auto;
    display:block;
}
.a_view_products{
    padding: .3em 1em;
    background-color: var(--button-color);
    border-radius: .5em;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}
.a_view_products:hover{
    transform: scale(1.2)
}

.spacing{
    margin-bottom: 15px;
}
.move{
    transition: transform 0.8s ease-in-out;
}
.move:hover{
    transform: translate(10px, 50px);
}
.actual_images{
    width: 100%;
    max-width: 25em;
    height: 100%;
}
/* .sml_scrn_hide{
    display:none;
} */
.diff_width{
    max-width: 18em;
}
/* .eggs_images{
    transform: translate(12px, -148px);
} */
.intro_div_child_words{
    /* position: absolute;
    bottom: 6px;
    left: 220px; */
    margin-top: 1em;
    box-shadow: 2px -2px 5px #254441, -2px 2px 5px #254441 ;
    background-color: var( --card-color);
    /* align-self: flex-start; */
    /* min-height: 15em; */
    color: rgb(172, 167, 167);
    padding: 3em;
    border-radius: .5em;
    min-width: 20em;

}

/* about us div section */
.about_us_div{
    margin-top: 20px;
    width: 100%;
}
.h6_underline{
    margin-bottom: 1em;
    position: relative;
}
.h6_underline::after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: -8px;
    transform: translateX(-50%);
    width: 10%;
    height: .4em;
    background: linear-gradient(90deg, #ff6ec4, #7873f5);

}
.p_style{
    margin: 0 2em;
}
.about_us_div_child{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 1em;
    margin-top: 5px;
    flex-wrap: wrap;
}
.about_us_div_child2{
    display:flex;
    justify-content: center;
    margin: 15px 0 5px 0; 
}
.about_us_div_child_adv{
    min-width: 200px;
    min-height: 100px;
    background-color: var(--card-color);
    color: rgb(172, 167, 167);
    box-shadow: 2px -2px 5px #254441;
}
.about_us_div_child_adv ol li{
    list-style-type: square;
}

/* contact us div section */
.contact_div_child{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    max-width: 80%;
    gap: 3em;
    margin: 0 auto;
    flex-wrap: wrap;
}
.contact_div_form{
    /* flex-basis: 70em; */
    min-width: 350px;
    /* align-self: flex-start; */
    min-height: 1.5em;
}
.landing_page_form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.first_inputs{
    width: 100%;
}
.contact_inputs_div{
    width: 49.4%;
}
.contact_inputs{
    width: 100%;
}
.actual_details{
    min-width: 200px;
    /* min-height: 200px; */
}
.actual_details_style{
    display:flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 5px;
}

/* Products page */

.overal_banner_area{
    position: relative;
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 35vh;
    /* overflow: hidden; */
    background-color: #e3f1f4;
    background-image: url("images/background\ banner\ medium.jpeg");
    background-size: cover;
    /* object-fit: cover; -> for images*/
    background-repeat:no-repeat;
    background-blend-mode: multiply;
}
.banner_div{
    width: 100%;
    /* max-width: 1200px; */
    height: 100%;
}
.banner_words{
    width:50%;
    color: rgb(87 108 160 / 91%);
    z-index: 2;
}
.overal_div{
    position: relative;
}
.view_cart{
    position: absolute;
    right: 0;
    top: 8em;
    z-index: 1;
}
.view_cart i{
    font-size: 10rem;
    color: rgb(87 108 160 / 91%) !important;

}
.overal_products_area{
    margin-top: 1em;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap:1.4em;
    width: 100%;
}
.single_product{
    width: 16em;
    flex: none;
}
.single_product_price{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
    margin-top: 1em;
}
.product_desc{
    margin-top:1em;
}
.product_cta{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1em;
    /* gap: 5em; */
}
.add_crt_icon{
    font-size: 2rem;
}
.button_div_extra{
    padding: 0 1em;
    /* font-size: 1.2rem; */
}
/* purchase page */
.ordered_items_div{
    width: 50%;
    margin: 1em auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}
/* .list{
    width: 100%;
} */
.total_list{
    background-color: #bdb9b9;
    padding: .2em .4em;
    border-radius: .5em;
    margin-bottom: 1em;
}
.list_child{
    display: flex;
    gap: 4em;
}
.space_btn{
    gap: 15em;
    width: 100%;
}
.quantity_control {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.quantity_control button {
  padding: 0.3em 0.6em;
  font-size: 1.2rem;
  cursor: pointer;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.quantity_value {
  min-width: 2em;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
}

/* inventory page */
.overal_section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.summary_cards{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.6rem;
    width: 100%;
}
.card{
    border-radius: 5px;
    padding: 5px;
    border: 1px solid black;
    box-shadow: inset -1px -1px 3px  gray;
}
.record_card{
    background-color: var(--card-color);
    color: rgb(172, 167, 167);
    box-shadow: 2px -2px 5px #254441;    
    padding: 1em;
    /* width: 100%; */
    flex: 1;
}
.record_card div{
    margin-top: .3em;
    margin-bottom: .3em;
}
.static_flex{
    display: flex;
    align-items: center;
    gap: 1em;
}
.space_arnd{
    justify-content: space-around;
    width: 100%;
}
.dynamic_flex{
    display: flex;
    align-items: center;
    gap: 1em;
    flex-direction: column;
    flex-wrap: wrap;
}
.full_width{
    width: 100%;
}
.accordion_button{
    border: none;
}
.accordion_button p{
    font-size: 17px;
}
.accordion_content{
    display: none;
}
.record_div_form{
    /* width: 60%; */
    margin: 0 auto;
    padding: 1em;
    background-color: #d4d2d2;
    border: 1px solid #ccc;
    border-radius: .5em;
}
.record_form{
    font-size: 1.5rem;
}
.record_form div{
margin-top: .5em;
margin-bottom: .5em;
}
.centered_flex{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.centered_flex input{
    background-color: var(--button-color);
    padding:.3em;
    transition: background-color 0.3s ease-in-out;

}
.centered_flex input:hover{
    background-color: var(--button-color-hover);
}
/* health and vaccination page */
table{
    min-width:100%;
    padding: .3em;
    font-size: 1.6rem;
    border-collapse: collapse;
    /* cellspacing: 1em; */
}
th, td{
    padding:.5em;
    text-align: center;
}
 tr:nth-child(odd) {
    background-color: #b6f5f0;
}
 tr:nth-child(even) {
    background-color: #a4c1df;
}
 th{
    background-color: #5550502f;
    font-weight: bold;
}
 tr {
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: transform 0.2s ease;
}
 tr:hover {
    background-color: #dfe6ea;
    transform: scale(1.01);
}
.overal_records, .table_div{
    width: 100%;
}
.overal_records{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
/* finance page */
.detailed_report{
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    gap: .3em;
    width: 100%;
}
.detailed_report div{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* invoice page */

.invoice_box {
    max-width: 700px;
    margin: 2rem auto;
    padding: 2rem;
    border: 1px solid #eee;
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.invoice_logo{
    display:flex;
    align-items: center;
    justify-content: center;
}
.invoice_logo img{
    border-radius: 50%;
}
.invoice_box h1 {
    text-align: center;
    margin-bottom: 20px;
}
.right_align{
    text-align: right;
}
.invoice_box table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

.invoice_box th, .invoice_box td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

.invoice_box tfoot td {
    font-weight: bold;
}
/* receipts page */
.receipt_box {
    max-width: 600px;
    margin: 2rem auto;
    padding: 2rem;
    border: 1px dashed #555;
    font-family: 'Courier New', monospace;
    background-color: #fffdf5;
    color: #333;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.receipt_box h2 {
    text-align: center;
    margin-bottom: 10px;
}
.receipt_box table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

.receipt_box th,
.receipt_box td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

.thank_you {
    text-align: center;
    margin-top: 2rem;
    font-weight: bold;
    color: #2e7d32;
}
/* footer styling */
footer{
    background-color: black;
    color: white !important;
    margin-top: 2em;
}
.white_clr{
   color: white !important; 
}
.footer_t{
    justify-content: space-around;
    width: 100%;
    align-items: flex-start;
    padding-top: 1em;
    padding-bottom: 1em;
}
.small_fnt{
    font-size: 15px;
}
.p_underline{
    margin-bottom: 1em;
    position: relative;
}
.p_underline::after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: -8px;
    transform: translateX(-50%);
    width: 50%;
    height: .1em;
    background: whitesmoke;

}
.bod-top{
    border-top: 1px solid whitesmoke;
    align-items: center;
}
.more_gap{
    gap:3em;
}
/* media query */
@media (min-width: 300px){
    /* .overal_products_area{
        gap:3em;
        width: 97%;
        flex-direction: row;
        margin:  1em auto;
    } */
    /* .single_product{
        width: 12em;
    } */

}
@media (min-width: 358px){
    .overal_products_area{
        gap:3em;
        width: 97%;
        flex-direction: row;
        margin:  1em auto;
    }
    /* .single_product{
        width: 16em;
    } */
    .overal_banner_area{
        height: 40vh;
    }
    .sidebar{
        width: 70%;
    }

}
@media (min-width: 474px){
    .chicken_img_container{
        display:flex;
    }
}
@media (min-width: 490px){
    .diff_width{
        max-width: 20em;
    }
    .sidebar{
        width: 50%;
    }
}
@media (min-width:500px){
    .dynamic_flex{
        flex-direction: row;
    }
    .record_card{
        width: 40%;
    }
    .detailed_report{
        flex-direction: row;
    }
}
@media (min-width:520px){
    .intro_div_child_words{
        margin-top: 1.5em;
    }
    .diff_width{
        max-width: 21em;
    }
}
@media (min-width:540px){
    .diff_width{
        max-width: 23em;
    }
}
@media (min-width:591px){
    .intro_div_child_words{
        margin-top: 3.3em;
    }
}
@media (min-width:620px){
    /* .intro_div_child_words{
        margin-top: 2.3em;
    } */
    .diff_width{
        max-width: 24.7em;
    }
}
@media (min-width:698px){
    /* .diff_width{
        max-width: 22em;
    } */
    .intro_div_child_images{
        width:80%;
        margin: 0 auto;
    }
    .intro_div_child_words{
        margin-top: 1.5em;
    }
    .products_image{
        left: 30em;
    }
    .about_us_div_child {
        flex-direction: row;
    }
}
@media (min-width:735px){
    .intro_div_child_words{
        margin-top: 3em;
    } 
}
@media (min-width:755px){
    .overal_div{
        max-width: 755px;
        margin: auto;
    } 
    .sidebar{
        width: 30%;
    }
}
@media (min-width:850px){
    .hide_on_mobile{
        display: flex;
    }
    .hide_on_desktop{
        display: none;
    }
    
}
@media (min-width: 1019px){
    .contact_div_child{
       flex-direction: row;
       gap: 7em;
       max-width: 100%;
       margin: 0 4em 0 4em;
    }
}
@media (min-width:1024px){
    .intro_div{
        flex-direction: row;
    }
    /* .actual_images{
        gap: 30em;
    } */
    .contact_div_form {
        min-width: 500px;
    }
    .contact_div_details{
        align-self: flex-start; 
       }    
    .intro_div_child_words{
    width: 90%;
    margin-top: 1.2em;
    }
    .intro_div_child_images{
        width: 100%;
    }
    .products_image{
        left: 20em;
    }
    .diff_width{
        max-width: 21em;
    }
    .p_style{
        margin: 0 5em;
    }
}

@media(min-width:1035px){
    .contact_div_child{
       gap: 15em;
    }
}
@media(min-width:1056px){
    .diff_width{
        max-width: 22em;
    }
}
@media (min-width:1071px){
    .inc_gap{
        gap: 8em;
    }
}
@media(min-width:1100px){
    .diff_width{
        max-width: 23em;
    }
    .contact_div_child{
        margin: 0 10em 0 10em;
     }
}
@media(min-width:1200px){
    .diff_width{
        max-width: 24em;
    }
}
@media(min-width:1202px){
    .intro_div_child_words{
        margin-top: 3.5em;
        }
}



