/* General Document styling */
:root{
    --card-color: #254441;
    --button-color: #bb9cd6;
}
html{
    font-size: 62.5%;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: #E5F4E3;
    width:95%;
    margin: 0 auto;
}
h1{
    font-size: 40px;
    line-height: 40px;
}
h4{
    font-size: 20px;
    line-height: 25px;
}
h6{
    font-size: 20px;
    line-height: 40px;
    /* width: 50%; */
    /* margin: 0 auto; */
    text-align: center;
}
p{
    font-size: 20px;
    line-height: 30px;
}
li{
    font-size: 20px;
}
a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    cursor: pointer;
}
img{
    border-radius: .5em;
}
.image_logo{
    border-radius: 50%;
}
/* header styling */
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* justify-content: space-between; */
    padding: 10px;
}
.div_logo{
    width: 50px;
}
nav{
    position: relative;
    left: 10em;
}
nav ul{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 15px;
}
nav ul li{
    list-style-type: none;
}
/* main styling */
main{
    margin-top: 20px;
}
/* landing page */
/* hero section */
.intro_div{
    display: flex;
    align-items: center;
    flex-direction:column;
    gap: 2em;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    min-height: 60vh;
}
.intro_div_child{
    flex: 1;
    /* position: relative; */
    /* align-self: flex-start; */
    min-height: 60vh;
    padding: .6rem;
    width: 100%;
}
.intro_div_child_center{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* position: relative;
    bottom: 90px;
    right: 70px; */
}
.intro_div_child_images{
    display: flex;
    align-items: center;
    gap: 1em;
    flex-wrap: wrap;
}
.chicken_img_container{
    flex: 1;
    width: 100%;
    max-width: 25em;
}
.tryout{
    /* align-self: flex-start; */
    /* min-height: 60vh; */
    flex: 1;
}
.products_image{
    position: relative;
    /* max-width: 25em; */
    width: 40%;
    max-width: 25em;
    /* max-height: 30em; */
    /* bottom: 0; */
    left: 24em;
    /* top: 18em; */
    top: 8em;
}
.products_image img, .actual_images img,
.image_logo, .banner_div img, .single_product_img_div img{
    /* width: 100%; */
    max-inline-size: 100%;
    object-fit:cover;
    height: auto;
    display:block;
}
.a_view_products{
    padding: .3em 1em;
    background-color: var(--button-color);
    border-radius: .5em;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}
.a_view_products:hover{
    transform: scale(1.2)
}

.spacing{
    margin-bottom: 15px;
}
.move{
    transition: transform 0.8s ease-in-out;
}
.move:hover{
    transform: translate(10px, 50px);
}
.actual_images{
    width: 100%;
    max-width: 25em;
    height: 100%;
}
.diff_width{
    max-width: 18em;
}
/* .eggs_images{
    transform: translate(12px, -148px);
} */
.intro_div_child_words{
    /* position: absolute;
    bottom: 6px;
    left: 220px; */
    margin-top: 1em;
    box-shadow: 2px -2px 5px #254441, -2px 2px 5px #254441 ;
    background-color: var( --card-color);
    /* align-self: flex-start; */
    /* min-height: 15em; */
    color: rgb(172, 167, 167);
    padding: 3em;
    border-radius: .5em;
    min-width: 20em;

}

/* about us div section */
.about_us_div{
    margin-top: 20px;
    width: 100%;
}
.h6_underline{
    margin-bottom: 1em;
    position: relative;
}
.h6_underline::after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: -8px;
    transform: translateX(-50%);
    width: 10%;
    height: .4em;
    background: linear-gradient(90deg, #ff6ec4, #7873f5);

}
.p_style{
    margin: 0 2em;
}
.about_us_div_child{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 1em;
    margin-top: 5px;
    flex-wrap: wrap;
}
.about_us_div_child2{
    display:flex;
    justify-content: center;
    margin: 15px 0 5px 0; 
}
.about_us_div_child_adv{
    min-width: 200px;
    min-height: 100px;
    background-color: var(--card-color);
    color: rgb(172, 167, 167);
    box-shadow: 2px -2px 5px #254441;
}
.about_us_div_child_adv ol li{
    list-style-type: square;
}

/* contact us div section */
.contact_div_child{
    display: flex;
    align-items: center;
    flex-direction: column;
    /* justify-content: space-between; */
    max-width: 80%;
    gap: 3em;
    margin: 0 auto;
    flex-wrap: wrap;
}
.contact_div_form{
    /* flex-basis: 70em; */
    min-width: 350px;
    /* align-self: flex-start; */
    min-height: 1.5em;
}
.contact_div_form form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.first_inputs{
    width: 100%;
}
.contact_inputs_div{
    width: 49.4%;
}
.contact_inputs{
    width: 100%;
}
.actual_details{
    min-width: 200px;
    /* min-height: 200px; */
}
.actual_details_style{
    display:flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 5px;
}

/* Products page */
.overal_div{
    /* max-width: 1200px; */
}
.overal_banner_area{
    position: relative;
    width: 100%;
    height: 35vh;
    overflow: hidden;
}
.banner_div{
    width: 100%;
    height: 100%;
}
.banner_words{
    position:absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10%;
    color: rgba(219, 227, 247, 0.91);
    z-index: 2;
}
.view_cart i{
    max-width: 20em;
}
.overal_products_area{
    margin-top: 1em;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap:1.4em;
    width: 100%;
}
.single_product{
    width: 12em;
}
.single_product_price{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
}
.product_cta{
    display: flex;
    align-items: center;
    gap: 5em;
}
.button_div_extra{
    padding-top: .1em;
    font-size: 1.2rem;
}
/* purchase page */
.ordered_items_div{
    width: 50%;
    margin: 1em auto;
}
.list_child{
    display: flex;
    gap: 4em;
}
/* footer styling */


/* media query */
@media (min-width: 300px){
    .overal_products_area{
        gap:4em;
    }

}
@media (min-width: 358px){
    .single_product{
        width: 15em;
    }
    .overal_banner_area{
        height: 40vh;
    }

}
@media (min-width: 490px){
    .diff_width{
        max-width: 20em;
    }

}
@media (min-width:520px){
    .intro_div_child_words{
        margin-top: 1.5em;
    }
    .diff_width{
        max-width: 21em;
    }
}
@media (min-width:540px){
    .diff_width{
        max-width: 23em;
    }
}
@media (min-width:591px){
    .intro_div_child_words{
        margin-top: 3.3em;
    }
}
@media (min-width:620px){
    /* .intro_div_child_words{
        margin-top: 2.3em;
    } */
    .diff_width{
        max-width: 24.7em;
    }
}
@media (min-width:698px){
    /* .diff_width{
        max-width: 22em;
    } */
    .intro_div_child_images{
        width:80%;
        margin: 0 auto;
    }
    .intro_div_child_words{
        margin-top: 1.5em;
    }
    .products_image{
        left: 30em;
    }
    .about_us_div_child {
        flex-direction: row;
    }
}
@media (min-width:735px){
    .intro_div_child_words{
        margin-top: 3em;
    } 
}
@media (min-width:1024px){
    .intro_div{
        flex-direction: row;
    }
    /* .actual_images{
        gap: 30em;
    } */
    .contact_div_child{
       flex-direction: row;
       gap: 27em;
       max-width: 100%;
       margin: 0 4em 0 4em;
    }
    .contact_div_form {
        min-width: 500px;
    }
    .contact_div_details{
        align-self: flex-start; 
       }    
    .intro_div_child_words{
    width: 90%;
    margin-top: 1.2em;
    }
    .intro_div_child_images{
        width: 100%;
    }
    .products_image{
        left: 20em;
    }
    .diff_width{
        max-width: 21em;
    }
    .p_style{
        margin: 0 5em;
    }
}
@media(min-width:1056px){
    .diff_width{
        max-width: 22em;
    }
}
@media(min-width:1100px){
    .diff_width{
        max-width: 23em;
    }
    .contact_div_child{
        margin: 0 10em 0 10em;
     }
}
@media(min-width:1200px){
    .diff_width{
        max-width: 24em;
    }
}
@media(min-width:1202px){
    .intro_div_child_words{
        margin-top: 3.5em;
        }
}



